body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #FFB6C1; /* Light Pink */
    color: #FFF; /* White */
    text-align: center;
    padding: 10px 0;
}

h1, h2 {
    margin: 0;
    font-size: 24px;
    color: #333; /* Dark Grey */
}

#profile-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.text-content {
    max-width: 600px; /* Adjust as needed for your design */
    margin-left: 20px; /* Adjust as needed for spacing */
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    #profile-image {
        margin-bottom: 20px; /* Adjust as needed for spacing */
    }

    .text-content {
        margin: 0; /* Reset margin for smaller screens */
    }
}

nav {
    display: inline-block;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

nav a:hover {
    color: #FFB6C1; /* Light Pink - change to your desired hover color */
}

section {
    padding: 40px 0;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}

footer {
    background-color: #FFB6C1;
    color: #FFF;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin-bottom: 10px;
    }
}
