body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #FFB6C1; /* Light Pink */
    color: #FFF; /* White */
    text-align: left;
    padding: 20px 0;
}

h1, h2 {
    color: #333; /* Dark Grey */
}

nav {
    text-align: right;
    padding: 10px;
    background-color: #ffd3c2;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
}

nav a:hover {
    color: #FFB6C1; /* Light Pink - change to your desired hover color */
}

section {
    padding: 40px 0;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}

footer {
    background-color: #FFB6C1;
    color: #FFF;
    text-align: center;
    padding: 0px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin-bottom: 10px;
    }
}
